<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Home</title>
</head>

<link/>

<body>
<h1>sei nella home, login effettuato con successo</h1>
<p th:text="${'Nice to see you again ' + session.user.nome + ' ' + session.user.cognome}"></p>

<div th:if="${admin_groups.size() >0}">
	<h2>I Tuoi Gruppi</h2>
		<table>
			<thead>
				<tr>
					<th>Nome</th>
					<th>durata</th>
					<th>Dettagli</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="g : ${admin_groups}">
						<td th:text="${g.nome}"></td>
						<td th:text="${ g.durata }"></td>
						<td>
							<a href="#" th:href="@{/DettagliGruppo(groupId=${g.id})}">Details</a>
						</td>
				</tr>
			</tbody>
		</table>
		<p>TEST</p>
	</div>  

</body>
</html>