<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="css/home.css">
</head>

<body>
	<div class="background">
		<div class="pageContainer">
			<header>
				<img src="images/logo.png" alt="Logo" class="logo">
				<div id="menu">
					<details>
						<summary>Menu</summary>
						<nav>
							<a th:href="@{/GoToCreateGroup}">Crea un Gruppo</a> 
							<a class= "logout" th:href="@{/Logout}"> Logout</a>
						</nav>
					</details>
				</div>

			</header>

			<h2 th:text="${'Nice to see you again ' + session.user.nome + ' ' + session.user.cognome}"></h2>

			<div th:if="${admin_groups.size() >0}">
				<h3>I Tuoi Gruppi</h3>
				<table class="tabellaProg">
					<thead>
						<tr>
							<th>Nome</th>
							<th>durata</th>
							<th>Dettagli</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="g : ${admin_groups}">
							<td th:text="${g.nome}"></td>
							<td th:text="${ g.durata }"></td>
							<td><a href="#" th:href="@{/DettagliGruppo(groupId=${g.id})}">Details</a></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div th:if="${groups_with_user.size() >0}">
				<h3>I Gruppi di cui fai parte</h3>
				<table class="tabellaProg">
					<thead>
						<tr>
							<th>Nome</th>
							<th>durata</th>
							<th>Dettagli</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="g : ${groups_with_user}">
							<td th:text="${g.nome}"></td>
							<td th:text="${ g.durata }"></td>
							<td><a href="#" th:href="@{/DettagliGruppo(groupId=${g.id})}">Details</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>